<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="imagem/png" href="https://o.remove.bg/downloads/eceef0be-185b-42f7-9cc5-c5f3c0a1840c/tumblr_62a45bdeedc7b212dd4adfaa7036684a_5fb08824_1280-removebg-preview.png" />
    <title>Login</title>

    <style>
        body{
            background-color:  #eaddcd;
        }
    </style>
</head>
<body>

<!-- Section: Design Block -->
<section class="" style="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <br><br><br><br><br>
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              O melhor Petshop<br />
              <span class="text" style="color: #eaddcd;">para o seu Petzinho</span>
            </h1>
            <p style="color: eaddcd">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <h3>Login</h3>
                <form action="/api/signin" method="post">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="email" class="form-control" name="email"/>
                    <label class="form-label" for="email">Email</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="senha" class="form-control" name="senha"/>
                    <label class="form-label" for="senha">Senha</label>
                  </div>
  
  
                  <!-- Submit button -->
                  <input type="submit" value="Entrar" class="btn btn-primary btn-block mb-4">
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->


<!--   
    <form action="/api/signin" method="post">
        <div>
            <label for="email">Email:</label class="form-label">
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div>
            <label for="senha">Senha:</label class="form-label">
            <input type="text" name="senha" id="senha" class="form-control">
        </div>
        <input type="submit" value="Entrar">
    </form>
-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>